@page "{id:int}/Cerca"
@model ProgettoAPPWEB24.Pages.CercaBigliettoModel
@{
    var durata = Model.Durata;
	var tariffa = Model.Totale;
	var biglietto = Model.Bigl;
}

<form asp-page-handler="Cerca" id="cerca" method="post">
    <h2>Inserire il numero del biglietto</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Targa" class="form-control" autocomplete="numeroTarga" aria-required="true" placeholder="Numero Targa" />
        <label asp-for="Targa">Numero Targa</label>
        <span asp-validation-for="Targa" class="text-danger"></span>
    </div>
    <div>
        <button class="btn btn-primary">Cerca</button>
    </div>
</form>

@if (biglietto != null)
{
    <div>
        <p>Durata sosta: @durata.Hours ore e @durata.Minutes minuti</p>
        <p>Totale: €@tariffa.ToString("0.00")</p>
    </div>
    <div>
        <a asp-page="Pagamento" asp-route-durata="@durata" asp-route-tariffa="@tariffa" asp-route-biglietto="@biglietto" asp-route-id="@biglietto?.Id" class="btn btn-primary">Paga</a>
    </div>
}
